header{
    width: 2000px;
    height: 200px;
    background-color: greenyellow;
}

.banner{
    width: 2000px;
    height: 250px;
    background-color: darkgray;
}

main{
    width: 550px;
    height: 550px;
    background-color: green;
}

.quadrado1{
    height: 200px;
    width: 200px;
    background-color: red;
    margin-left: 20pxS;
}
